.container { 
    display: grid;
    place-items: center;
}

.container h3 {
    margin: 100px 0 50px 0;
}

.loader {
    position: relative;
    display: flex;
}

.loader span {
    position: relative;
    width: 100px;
    height: 100px;
    background: rgb(1, 1, 24);
    /* border: 2px solid #eaeef0; */
    border-radius: 50%;
}

.loader span::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 0;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.5),
        inset -2px -2px 7px orange;
}

.loader span::after {
    content: '';
    position: absolute;
    inset: 20px;
    background: rgb(1, 1, 24);
    /* border: 2px solid #000000; */
    border-radius: 50%;
    box-shadow: -4px -4px 10px orangered,
        4px 4px 10px yellow,
        inset 2px 3px 5px red,
        inset -1px -1px 7px yellow;
    z-index: 1;
}

.loader span .sep {
    position: absolute;
    inset: 0;
    background: linear-gradient(#ff9b05, #f72424a6, #ffe600);
    filter: blur(7px);
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.rocket {
    position: absolute;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rocket i {
    position: absolute;
    color: black;
    font-size: 1.5em;
    z-index: 10;
    background: transparent;
    -webkit-text-stroke: 1px rgb(225, 0, 255);
    animation: animateRocket 0.8s linear infinite;
}

@keyframes animateRocket {
    0%,100% {
        transform: translate(0px, -3px) rotate(-90deg)
    }
    50% {
        transform: translate(0px, 3px) rotate(-90deg);
    }
}