.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-column-gap: 2em; */
    grid-template-areas: 
    "name"
    "mainImage"
    "description"
    "images";
    background-color: black;
    overflow-y: auto;
    max-height: 80vh;
}

.name {grid-area: name; text-align: center;}
.description {grid-area: description;}
.mainImage {grid-area: mainImage; max-width: 60vw; }
.images {
    grid-area: images;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
}

.images img {
    max-width: 100px;
    padding: 2px;
    object-fit: cover;
}

@media (min-width: 600px) {
    .modal {
        /* grid-template-columns: 1fr 1fr; */
        grid-template-areas:
        "name name"
        "description description"
        "mainImage images";
        padding: 20px;
    }

    .mainImage {
        max-width: 100%;
        padding-left: 5px;
        align-self: center;
    }



}